.sliders-container{
    margin: auto;
    position: absolute;
    width: 100%;
    bottom: 5px;
}

.slide-container{
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    padding: 6px 0 0 0;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 20px;
    border-radius: 5px;
    background: grey;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
    cursor: cell;
}

/* Special styling for WebKit/Blink */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 50px;
    height: 30px;
    border: 0;
    border-radius: 3px;
    background: #ffffff;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    opacity: 0.7;
}

/* All the same stuff for Firefox */
.slider::-moz-range-thumb {
    width: 50px;
    height: 30px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 0;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    opacity: 0.7;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
border: 1px solid #000000;
height: 36px;
width: 50px;
border-radius: 3px;
background: #ffffff;
cursor: pointer;
opacity: 0.7;
}

.slider-day::-webkit-slider-thumb:hover {
    opacity: 1;
}

.slider-day::-moz-range-thumb:hover {
    opacity: 1;
}

.slider-hour::-webkit-slider-thumb:hover {
    opacity: 1;
}

.slider-hour::-moz-range-thumb:hover {
    opacity: 1;
} 