.happyMeteo {
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .happyMeteo fieldset {
    margin: 3px;
    padding: 3px;
    font-size: 0.7rem;
    border: 2px solid green;
    border-radius: 8px;
  }
  
  .happyMeteo fieldset section {
    display: flex;
    width: auto;
  }
  
  .happyMeteo fieldset section header {
    text-align: right;
    padding-right: 3px;
    border-right: 1px dotted #00b300;
  }
  
  .happyMeteo fieldset section article {
    text-align: left;
    padding-left: 3px;
  } 