.main-img {
    top: 0px;
    height: calc(100vh - 77px);
    width: auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-position: top;
    justify-content: center;
    position: relative;
}


.photoInfo {
  width: fit-content;
  position: absolute;
  padding: 0;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2vw;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
}

.photoInfo:hover {
  background-color: transparent;
  color: transparent;
}

.homepage {
  padding: 10px;
  position: absolute;
  border: 2px none #fff;
  background-color: transparent;
  border-radius: 2%;
  outline: none;
  color: white;
  font-size: 1.5vw;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 2%;
}

.prevPhoto, .nextPhoto, .next8, .prev8, .play, .stop, .slides, .textOn, .textOff, .category {
  padding: 10px;
  position: absolute;
  border: none;
  /* border: 2px solid #fff; */
  background-color: rgba(0, 0, 0, 0.2);
  outline: none;
  color: rgba(255, 255, 255, 0.7);
  font-size: 3vw;
  top: 1%;
}

.category {
  left: 45%;
}

.prevPhotoBig, .nextPhotoBig {
  padding: 10px;
  position: absolute;
  border: none;
  /* border: 2px solid #fff; */
  background-color: transparent;
  outline: none;
  color: transparent;
  font-size: 3vw;
  top: 20%;
  width: 30%;
  height: 40%;
}

.prevPhotoBig {
  left: 1%;
}

.nextPhotoBig {
  right: 1%;
}

.nextPhotoBig:hover, .prevPhotoBig:hover {
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.textOn, .textOff {
  right: 25%;
}

.next8 {
  right: 13%;
}

.prev8 {
  left: 13%;
}

.play, .stop {
  left: 25%;
}

.slides {
  right: 25%;
}

.prevPhoto {
  left: 1%;
}

.nextPhoto {
  right: 1%;
}

.homepage a {
  color: white;
}

.nextPhoto:hover, .prevPhoto:hover,
.next8:hover, .prev8:hover,
.play:hover, .stop:hover,
.slides:hover,
.textOn:hover, .textOff:hover,
.category:hover {
  background: white;
  color: black;
  cursor: pointer;
}

.categoryList {
  position: absolute;
  top: 5%;
  left: 45%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.categoryList fieldset {
  margin: 3px;
  padding: 3px;
  font-size: 1rem;
  border: 2px solid green;
  border-radius: 8px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.categoryList fieldset legend {
  background-color: rgba(0, 0, 0, 0.5);
}

.categoryList fieldset section {
  display: flex;
  width: auto;
}

.categoryList fieldset section .oneCategory {
  padding: 0px 3px;
  margin: 5px;
  cursor: pointer;
  border: 1px solid transparent;
}

.categoryList fieldset section .oneCategory:hover {
  border: 1px solid lime;
  background-color: rgba(0, 0, 0, 0.5);
}

.categoryList fieldset section header {
  text-align: right;
  border-right: 1px dotted #00b300;
}

.categoryList fieldset section article {
  text-align: right;
}

/* Fade in animation */
/* film mode property */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in 1 forwards;
}

@media (max-width: 400px) {
  .imgs > div {
    height: 50px;
  }
  .photoInfo {
    font-size: 1.5vh;
  }
}

@media (min-width: 1000px) {
  .prevPhoto, .nextPhoto, .next8, .prev8, .play, .stop, .slides, .textOn, .textOff {
    font-size: 30px;
  }
  .photoInfo {
    font-size: 20px;
  }
}
