* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
	font-family : Verdana, Helvetica, sans-serif;
	line-height: 1.6;
	background-image: url("../background.gif");

}

.top_container {
	background: black;
	margin: auto;
	width: 100%;
	max-width: 724px;
}

.bottom{
	text-align : center;
	background: white;
	background-image: url("../background.gif");

}

.header{
	background : #555555;
	text-align : center;
	padding: 2px;
	color: white;
	font-size: 14px;
}

.header a { 
	color : White;
	text-decoration : none;
	font-size: 10pt;
	font-weight : bold;
}
.header a:hover {
	color : Lime;
	font-size: 10pt;
	text-decoration : underline;
	font-weight : bold;
}

.mainpictures{
	text-align : center;
	width: 100%;
	max-width: 724px;
}
.mainpictures img{
    display: inline;
    vertical-align: top;
	clear: both;
	width: 100%;
	max-width: 724px;
}

.center{
	text-align : center;
    margin: 0 auto;
	background : #FF9933;
	color: black;
}

.text{
	text-align: justify;
	padding: 1vw 2vw 2vw 2vw;
	background : #FF9933;
	color: black;
}

.text ul{
	text-align: left;
	padding: 1vw 2vw 2vw 2vw;

}

.img-float-left{
	float: left;
	margin: 0 1rem 1rem 0;
	border: 1px solid black;
}

/* -------------------------main <div> */
.kniha_small{
	background: white;
	color: black;
	font-size: 12px;
}

.davis_table{
	background: white;
	color: black;
	font-size: 0px;
	width: 724px;
}

.page_live_cam {
	background : black;
	text-align: center;
	font-size: 0;
  }

.page_live_cam img{
	width: 100%;
	max-width: 640px;
}

table.page {
  background : #FF9933;
}

/* bedrich.php */
.table_bedrich_meteo{
	width: 95%;
	border-collapse: collapse;
	font-size: 12px;
	margin: 0 auto;
	background : rgb(255, 139, 23);
	color: black;
}

.table_bedrich_meteo td{
	text-align: center;
	border: 1px solid white;
}




